

.on_day_container {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.on_day_header {
    background-color: var(--primary-background-color);
    flex: 5;
    
    max-height: 43.3px;
    min-height: 43.3px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.on_day_header .center {
    flex:10;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.center .date_wpr {
    width: fit-content;
    height: fit-content;
}
.date_wpr p {
    margin-top: 2px;
    color: white;
    font-weight: 500;
}

.btn_container {
    flex:1;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.on_day_body {
    background-color: var(--secondary-background-color);
    flex: 10;
}

.no_data_div {
    text-align: center;
    margin-top: 19px;
}