
.next_2_go_container {
    width: 100%;
    height: 130px;
    background-color: brown;
    
    display: flex;
    flex-direction: column;
}

.header_txt {
    width: fit-content;
    height: fit-content;
}

.next_2_go_header {
    flex:1;
    background-color: var(--primary-background-color);
    font-weight: 600;
    color: var(--secondary-background-color);
    
    display: flex;
    align-items: center;
}
.next_2_go_header p {
    margin: 0px;
    margin-left: 15px;
    color: var(--seccondary-color);
    font-family: Arial, Helvetica, sans-serif;
}
.next_2_go_content {
    flex: 2;
    background-color: var(--secondary-background-color);
    display: flex;
}
.next_2_go_content_padding {
    flex: 1;
    margin: 8px;
    margin-right: 0px;
    
    display: flex;
    overflow-x: scroll;
}



