
.header_wpr {
    height: 50px;
    width: 100%;
    background-color: var(--primary-background-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_partition {
    flex:1;

    display: flex;
    align-items: center;
}

.home_header {
    justify-content: start;
}
.controls_header {
    justify-content: end;
}

.force_width {
    max-width: 80px;
}

.header_icon_wpr {
    margin-right: 10px;

    width: fit-content;
    height: fit-content;

    display: flex;

    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.icon_wpr {
    flex: 1;
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}